*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: hsl(212, 6%, 44%) ;
  font-family: Poppins;
}

@media (max-width: 600px){

   .main-container{
    flex-direction: column;
  }

}